.App {
  text-align: center;
}

body {
  margin: 50px;
}

.radio-group input[type="radio"] {
  position: fixed;
  width: 0;
}

.radio-group input[type="radio"]:checked + label{
  background-color: #C6D3D9
}

.radio-group label:hover {
  background-color: #C6D3D9;
}

.radio-group label {
    display: inline-block;
    background-color: #f6f7f9;
    padding: 5px;
    width: 28px;
    font-size: 12px;
    line-height: 1em;
    border: 1px solid #d0d7e6;
    text-align: center;
    border-radius: 4px;
}

.radio-inline {
  margin : 5px;
}

.radio-group {
  margin: 13px 13px 5px 13px;
}

#wrapper {
  display: flex;
  justify-content: center;
}

.color-button {
  background: #C6D3D9
}

.left {
  float: left;
  font-size: 10px;
}

.right {
  float: right;
  font-size: 10px;
}

.logo {
  margin-left: 20px;
  align-self: center;
}

.ch_logo {
  height: 4.49em;
}
